.red{
    color:red;
}

/*h1{
    color:blue;
}*/

.warning{
    border: 10px;
    padding: 0.5rem;
    background-color: bisque ;
    margin: auto 25% auto 10px;
    border-left: 6px solid yellow;
    /* width: 50%; */
}

.warning img{
    width: 25px;
}

/* .warning p{
    text-align: center;
} */


.info{
    border:10px;
    background-color:rgba(173, 216, 230, 0.705);
    margin: auto 25% auto 10px;
    padding: 0.5rem;
    border-left: 12px solid blue;
    width: 50%;
}

body{
    margin: auto;
}